@charset "UTF-8";
/* CSS Document */
a {
	text-decoration:none;
}
.ui-content{
	padding:0;
}

/* `PROGRAM SELECT
----------------------------------------------------------------------------------------------------*/
.program_select .ui-btn-inner{
	font-size:11px;
}
.program_select .ui-btn-inner{
	padding:5px 10px;
}
.program_select .special-btn .ui-btn-inner{
	height: 13px;
	width: 17px;
}
.program_select fieldset.ui-controlgroup{
	margin:5px 15px;
}
.channellist, .programmenu ul{
	margin:0;
	padding:0;
}
.channellist li, .programmenu ul li{
	list-style-type:none;
	display:block;
	width:100%;
	height:60px;
	border-bottom:1px solid #333;
	border-top:1px solid black;
	background:#111;
	color:white;
	text-shadow:0 1px 0 black;
	overflow:hidden;
}
.channellist li:active, .programmenu ul li:active{
	background:#333;
}
.channellist .channel{
	background:url(../images/channels.png) no-repeat;
	float:left;
	width:50px;
	height:60px;
}
.channellist .coverphoto{
	display:inline-block;
	width:75px;
	height:60px;
	background:black;
	float:left;
	background-size:100%;
}
.channellist #title{
	line-height:60px;
	padding:0 0 0 10px;
	display:block;
	float:left;
	font-weight:bold;
	width:115px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.channellist #stats{
	display:block;
	line-height:60px;
	font-size:10px;
	float:left;
	padding:0 0 0 5px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:right;
	width:50px;
}

/* `PROGRAM MENU
----------------------------------------------------------------------------------------------------*/
.programmenu ul li{
	text-align:center;
	line-height:50px;
	text-transform:uppercase;
	font-weight:bold;
	height:55px;
	line-height:55px;
}


.program_menu .ui-bar-a{
	background:transparent;
	border:none;
}
.program_menu .ui-btn, .livechat_page .ui-btn, .trivia_page .ui-btn, .messageboard_page .ui-btn{
	background: rgba(0,0,0,0.25);
	   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   
}
.programmenu, .trivia, .messageboard{
	margin-top: -40px;
}
.programmenu .coverphoto, .trivia .coverphoto, .messageboard .coverphoto{
	background-size:100%;
	width:100%;
	height:220px;
}
.programmenu #checkin{
	margin:0 40px;
	top:150px;
	font-size:16px;
	border: 1px solid rgba(0,0,0,0.5);
	color:white;
	text-shadow:0 1px 0 black;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
.programmenu #checkin:active{
	background:rgba(255,204,0,0.95);
}
/* LIVE CHAT
----------------------------------------------------------------------------------------------------*/
.livechat_page .ui-bar-a{
	background:#111;
	border:none;
}
.chatbox ul{
	margin:10px 0 0 -20px;
}
.chatbox ul li{
	list-style-type:none;
	margin:10px 0;
}
.chatbox li #photo{
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
}
.chatbox li #comment{
	float:left;
	background:white;
	padding:10px;
	width:200px;
	margin:0px 10px;
	border-radius:10px;
	font-size:12px;
	box-shadow: 0 1px 0 #CCC;
}
.chatbox li #comment:after{
	content:"";
	border-width:7px 10px 7px 0;
	border-style:solid;
	border-color:transparent white ;
	position:absolute;
	left:70px;
}
.livechat_page .ui-footer .ui-br{
	padding:5px 0;
}
.livechat_page .ui-footer .ui-input-text{
	font-size:14px;
}

/* TRIVIA
----------------------------------------------------------------------------------------------------*/

.trivia_page .ui-bar-a, .messageboard_page .ui-bar-a{
	background:rgba(0,0,0,.6);
	border:0;
}
.trivia .coverphoto, .messageboard .coverphoto{
	position:fixed;
	z-index:0;
}

.trivia ul, .messageboard ul{
	position:relative;
	z-index:99;
	margin-top:40px;
	background:#EEE;
}
.trivia li, .messageboard li{
	padding:15px 5px;
	border-bottom:1px solid #CCC;
	border-top:1px solid white;
	font-size:14px;
}
/* MESSAGE BOARD
----------------------------------------------------------------------------------------------------*/
.messageboard ul{
	padding-left:0;
}
.messageboard ul li{
	font-weight:bold;
	list-style:none;
	padding-left:10px;
}
.messageboard ul li:active{
	 background:white;
}
.messageboard .ui-link, .messageboard .ui-link:visited, .messageboard .ui-link:hover, .messageboard .ui-link:active{
	color:inherit;
}
.messageboard ul li #comment{
	background:url(../images/sprites/16_comments.png);
	width:16px;
	height:16px;
	float:right;
	margin-left:5px;
}
.messageboard ul li #edit{
	background:url(../images/sprites/16_edit.png);
	width:16px;
	height:16px;
	float:right;
	margin:10px 10px 0 5px;
}
.messageboard ul li #poll{
	background:url(../images/sprites/24_poll.png);
	width:24px;
	height:24px;
	float:left;
	margin:0px 10px 0 5px;
}
.messageboard ul li #topic{
	float:left;
	font-size:16px;
	width:230px;
}
.right{
	float:right;
}
/*  MERCHANDISE
----------------------------------------------------------------------------------------------------*/
.merchandise{
	background:url(../images/background/lightbg2_@2x.jpg) repeat;
}
.productcontainer{
	background:rgba(153,153,153,0.40);
	width:300px;
	margin:10px 10px;
	box-shadow:0px 0px 6px rgba(0,0,0,.8);
	
}
.productcontainer #photo{
	width:175px;
	overflow:hidden;
	float:left;
}
.productcontainer #title{
	font-weight:bold;
	float:left;
	font-size:14px;
}
.productcontainer .info{
	float:left;
	padding:5px;
	width:115px;
}
.productcontainer .info #title{
	float:left;
	width:115px;
}
.productcontainer .info ul{
	margin:20px 0;
	padding:0;
	float:left;
	width:100%;
}
.info li{
	list-style:none;
	font-size:12px;
	padding:5px 0;
	line-height:14px;
	font-weight:bold;
}
.productcontainer .info .icon{
	background:url(../images/sprites/icons.png) no-repeat;
	width:13px;
	height:13px;
	float:left;
	margin:0 5px 0 0;
}
.productcontainer .info .icon#love{
	background-position:0 0;
}
.productcontainer .info .icon#comment{
	background-position:-15px 0;
}
.productcontainer .info .icon#pricetag{
	background-position:-30px 0;
}
.productcontainer .info .icon#clock{
	background-position:0px -15px;
}
.buy-button {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #6F822B;
	box-shadow: 0 0 2px rgba(255,255,255,0.3) inset,0 0 2px rgba(255,255,255,0.3) inset,0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 2px rgba(255,255,255,0.3) inset,0 0 2px rgba(255,255,255,0.3) inset,0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.3) inset,0 0 1px rgba(255,255,255,0.3) inset,0 2px 2px rgba(0,0,0,0.4);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #B4CE57;
	background: -moz-linear-gradient(top,#B4CE57 0%,#B4CE57 51%,#A1BA47 51%,#A1BA47 51%,#A1BA47 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#B4CE57),color-stop(51%,#B4CE57),color-stop(51%,#A1BA47),color-stop(51%,#A1BA47),color-stop(100%,#A1BA47));
	background: -webkit-linear-gradient(top,#B4CE57 0%,#B4CE57 51%,#A1BA47 51%,#A1BA47 51%,#A1BA47 100%);
	background: -ms-linear-gradient(top,#B4CE57 0%,#B4CE57 51%,#A1BA47 51%,#A1BA47 51%,#A1BA47 100%);
	background: linear-gradient(top,#B4CE57 0%,#B4CE57 51%,#A1BA47 51%,#A1BA47 51%,#A1BA47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B4CE57",endColorstr="#A1BA47",GradientType=0);
	display: block;
	padding: 5px 10px;
	text-shadow: 0 -1px 0 black;
	border-image: initial;
}
.productcontainer .info .buy-button{
	float:left;
	width:90px;
	text-align:center;
}
/*  SETTINGS
----------------------------------------------------------------------------------------------------*/

.settings{
	background:url(../images/background/darkbg.png);
	width:100%;
	height:100%;
	background-size: 100%;
}
.settings, .eettings a{
	color:white;
	text-shadow:0 -1px 0 black;
}
.settings .ui-br{
	border:none;
	margin:0 0 10px 0;
	padding:0;
}
.settings input.ui-input-text{
	margin:0;
	border-radius:5px;
	box-shadow:0 1px 0 #333 !important;
	border:none;
	background:black;
	color:white;
	font-weight:normal;
	font-size:14px;
	padding:10px 10px;
	text-shadow:none;
}
.settings input{
	outline:none;
}
.settings #nativelogin{
	padding:20px 20px;
}
#fblogin{
	background:url(../images/sprites/buttons.png) no-repeat;
	width:250px;
	height:42px;
	margin:0 auto 10px auto;
}
#twitterlogin{
	background:url(../images/sprites/buttons.png) no-repeat 0 -50px;
	width:250px;
	height:42px;
	margin:0 auto;
}
.settings #green-button{
	background:-webkit-linear-gradient(top, #B4CE57 0%,#B4CE57 50%,#A1BA47 50%,#A1BA47 100%);
	border-radius:0;
	width:250px;
	margin:0 auto;
	border-radius:5px;
}
.settings p{
	color:#999;
	text-align:center;
	font-size:12px;
	margin:10px 0;
}

/* `TV CHANNELS
----------------------------------------------------------------------------------------------------*/
#channel3{
	background-position: -50px 0;
}
#channel7{
	background-position: 0px 0;
}
#channel5{
	background-position: -100px 0;
}
#hbo{
	background-position: -150px 0;
}
#nbc{
	background-position: -200px 0;
}
#espn{
	background-position: -250px 0;
}

/* TV SHOWS
----------------------------------------------------------------------------------------------------*/
#entourage{
	background:url(../images/TVshows/entourage.jpg);
}
#a30rock{
	background:url(../images/TVshows/30rock.jpg);
}
#football{
	background:url(../images/TVshows/football.jpg);
}
#ch3drama{
	background:url(../images/TVshows/ch3drama.jpg);
}
#ch7drama{
	background:url(../images/TVshows/ch7drama.jpg);
}
#ch5gameshow{
	background:url(../images/TVshows/ch5gameshow.jpg);
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}