<div class="type_checkin">

  <div class="header bluegradient">
      <a href="javascript: history.go(-1)"><div id="back"></div></a>
      <h1>Selected Program</h1>
      
  </div><!-- /header -->
  
    <div id="wrapper">
        <div id="scroller">
        
                
           <ul class="program-list">
                <li>
                    <div id="photowrap">
                        
                        <img src="images/TVshows/whitecollar.jpg" />
                    </div>
                    <div class="info">
                        <h2>White Collar</h2>
                        <h3>Season 3 Episode 14</h3>
                        
                        <ul id="stats">
                            <li class="icon" id="people"></li>
                            <li><%= checkInsCollection.length %></li>
                            <li class="icon" id="friends"></li>
                            <li><%= num_friends %></li>
                            <li id="channel">NBC</li>
                        </ul>
                    </div>
                
                </li>
           </ul>
           <style>
      
       </style>

           <div class="menu clearfix">
                <input type="hidden" id="spa_programIdStr" value="<%= id %>" />
                <div id="checkin">Check-in</div>
                <div class="notification" style="display:none;">You've checked in!</div>
                <ul>
                    <a href="#program/<%= id %>/show_chat"><li><div class="icon" id="chat"></div>Group Chat</li></a>
                    <a href="#program/<%= id %>/products"><li><div class="icon" id="products"></div>Cool Products</li></a>
                    <a href="#program/<%= id %>/discussions"><li><div class="icon" id="messageboard"></div>Message Board</li></a>
                    <a href="#program/<%= id %>/poll"><li><div class="icon" id="polls"></div>Voting & Polls</li></a>
                </ul>
           </div>
            
      </div>
    </div>
        
    <div class="footer">
      <ul>
          <a href="#program/1/chat"><li id="chat"></li></a>
          <a href="#program/1/discussions"><li id="messageboard"></li></a>
          <a href="#select_channel"><li id="tvguide"></li></a>
          <a href="#program/1/products"><li id="products"></li></a>
          <a href="#profile"><li id="profile"></li></a>
      </ul>
    </div>
    
    
  </div><!-- /content -->