<div class="type_messageboard">

    <div class="header bluegradient">
        <a href="javascript: history.go(-1)"><div id="back"></div></a>
        <h1>Message Board</h1>
        
    </div><!-- /header -->
    

  <div id="wrapper">
  <div id="scroller">
   <div class="toolbar topindent">
        <div id="text"></div><h3><%= discussion.discussion %></h3>
        <p>submitted 3 hours ago by username<%= discussion.user_id %></p>
   </div>
   
    <input id="discussionId" type="hidden" value="1" />
   <ul class="thread clearfix">
        <li id="replytotopic" class="clearfix">
            <input id="topLevelCommentText" class="topic-reply" placeholder="reply to topic here" />
           <ul class="options clearfix">
                <li id="add_comment">reply</li>
            </ul>
        </li>
    </ul>
    <ul id="comments" class="thread clearfix">
       
   </ul>
   </div>
   </div>     
    <div class="footer">
      <ul>
          <a href="#program/1/chat"><li id="chat"></li></a>
          <a href="#program/1/discussions"><li id="messageboard"></li></a>
          <a href="#select_channel"><li id="tvguide"></li></a>
          <a href="#program/1/products"><li id="products"></li></a>
          <a href="#profile"><li id="profile"></li></a>
      </ul>
    </div>
    
    
    </div><!-- /content -->